<body class="body-home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand brand-color" href="#">Sneaker Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-expand-right .navbar-collapse-right" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Book Today", new_booking_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
             <%= link_to "About", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>

    <h1 class="h1-header-home">Clean Shoes, Sneaker Haven</h1>

    <div class="container">
      <div class="row justify-content-center">
        <% @sneakers.each do |sneaker| %>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 margin-bottom">
            <div class="card h-100 sneaker-card">
              <div class="sneaker-images">
                <%= image_tag sneaker.image_url, class: "card-img-top clean-image" %>
                <%= image_tag sneaker.before_image_url, class: "card-img-top dirty-image" %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= sneaker.name %></h5>
                <p class="card-text"><%= sneaker.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </body>
